<div class="row">
  <div class=" bg-dark col-2 col-md-2 min-vh-100" style="width: 150px;">

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a routerLink="/dashboard" class="nav-link  text-white">
          <svg class="bi me-2" width="16" height="16"></svg>
          Home
        </a>
      </li>

      <li>
        <a routerLink="/produtos/lista" class="nav-link  text-white">
          <svg class="bi me-2" width="16" height="16"></svg>
          Products
        </a>
      </li>

    </ul>
    <hr>
  </div>
  </div>
